body {
	padding-top: 50px;
}

.form-control {
	width: 50%;
}

#submit-button {
	float: right;
}

.input-group {
	margin-bottom: 20px;
}

.btn-group{
	width: 100%;
}

#left-btn{
	float: left;
	margin-left: 20%;
}

#right-btn{
	float: right;
	margin-right: 20%;
}